@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); 
body {
    font-family: 'Lora', serif;
    font-size: 20px;
    background-color: aquamarine;
}
h1, h3 {
    text-align: center;
}
.block1 {
    border-radius: 20px;
    width: 900px;
    height: 700px;
    background-color: white;
    margin: 0 auto;
    text-decoration: solid black;
}
p{
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 30px;
    color: black;
}
.lesson {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -32px -28px 18px -20px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, -32px -28px 18px -20px rgba(0,0,0,0);
margin: 20px;
height: 150px;
width: 330px;
float: left;
background-color: white;
}
.block1:hover {
    background-color: rgb(211, 255, 242);
}
.lesson:hover {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -37px -32px 4px -30px rgba(255,255,255,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -37px -32px 4px -30px rgba(255,255,255,0);
}
.block2 {
    border-radius: 20px;
    width: 900px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    text-decoration: solid black;
}
.block2:hover {
    background-color: rgb(211, 255, 242);
}
hr {
    margin: 5px;
    height: 2px;
    background-color: black;
}
.link {
    margin-left: 10px;
    padding: 5px;
    border: solid 1px black;
    float: left;
    color: black;
}
.text {
    float: left;
    margin-top: 5px;
}
.link:hover {
    background-color: rgb(211, 255, 242);
}